*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    color: #000;
    text-decoration: none;
}

img{
    max-width: 100%;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.my{
    padding: 0.5rem 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.active{
    color: #0282F9;
}