#icon{
    background-color: #0282F9;

    .flex-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        /* max-width: 20px; */
        flex: 0 0 20%;

        .custom-img{
            max-width: 30px;
        }

        .position{
            padding: 5px;
        }
        
        span{
            font-size: 8px;
            color: #fff;
            cursor: pointer;
            margin-left: 2px;
        }

        &:hover{
            text-shadow: 1px 0 10px;
        }
    }
}